<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="isOpened">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Home</a>
        <a mat-list-item href="#">About</a>
        <a mat-list-item href="#">Services</a>
        <a mat-list-item href="#">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          aria-label="Toggle sidebar"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>My Application</span>
      </mat-toolbar>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
